# Configurações do Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Configurações do Gemini (IA)
API_KEY=
Biblia_ADMA_API=

# Chaves Adicionais (Pool de chaves para alta demanda)
API_KEY_1=
API_KEY_2=
# ... até API_KEY_50 se necessário